{erl_opts, [debug_info]}.

{deps,[
    {cowboy, "2.10.0"} % The HTTP Server
]}.

{relx,[
    {release, {omnicorn, "1.0.0"}, [omnicorn, cowboy, sasl]},
    {dev_mode, false},
    {include_erts, true}, % Bundles the Erlang Runtime
    {extended_start_script, true}
]}.

{shell, [
    {apps,[omnicorn]}
]}.
